/docs/build/
/docs/src/AbstractAlgebra/
/docs/src/Hecke/
/docs/src/Nemo/
/docs/src/Experimental/
profile.pb.gz
alloc-profile.pb.gz
LocalPreferences.toml
Manifest*.toml
.DS_Store
*~
*.swp
/experimental/NoExperimental_whitelist.jl
