Claus Fieker <fieker@mathematik.uni-kl.de> <claus.fieker@gmail.com>
Giovanni De Franceschi <franceschi@mathematik.uni-kl.de> <giovanni.defranceschi@auckland.ac.nz>
Giovanni De Franceschi <franceschi@mathematik.uni-kl.de> <52538321+GDeFranceschi@users.noreply.github.com>
William Hart <goodwillhart@googlemail.com>
