Claus Fieker <fieker@mathematik.uni-kl.de> <claus.fieker@gmail.com>
Giovanni De Franceschi <franceschi@mathematik.uni-kl.de> <giovanni.defranceschi@auckland.ac.nz>
Giovanni De Franceschi <franceschi@mathematik.uni-kl.de> <52538321+GDeFranceschi@users.noreply.github.com>
William Hart <goodwillhart@googlemail.com>

Alexej Jordan <jordan@math.tu-berlin.de> <58329349+alexej-jordan@users.noreply.github.com>
Benjamin Lorenz <lorenz@math.tu-berlin.de> <benlorenz@users.noreply.github.com>
Carlo Sircana <sircana@mathematik.uni-kl.de>
Claus Fieker <fieker@mathematik.uni-kl.de>
Daniel Schultz <tthsqe12@gmail.com>
delphinepol <pol@mathematik.uni-kl.de> <72020973+delphinepol@users.noreply.github.com>
Lars Kastner <lars.kastner@yahoo.dk> <lkastner@users.noreply.github.com>
Michael Joswig <joswig@math.tu-berlin.de> <micjoswig@users.noreply.github.com>
Taylor Brysiewicz <taylorbrysiewicz@gmail.com> <tbrysiewicz@math.tamu.edu>
Thomas Breuer <sam@math.rwth-aachen.de>
Tommy Hofmann <thofma@gmail.com>

Wolfram Decker <decker@mathematik.uni-kl.de> <decker@eduroam-ipv4-0386.triple-a.uni-kl.de>
Wolfram Decker <decker@mathematik.uni-kl.de> <decker@eduroam-ipv4-4-0630.triple-a.uni-kl.de>
Wolfram Decker <decker@mathematik.uni-kl.de> <decker@eduroam-ipv4-4-0797.triple-a.uni-kl.de>
Wolfram Decker <decker@mathematik.uni-kl.de> <decker@mupfel.mathematik.uni-kl.de>
Wolfram Decker <decker@mathematik.uni-kl.de> <decker@Wolframs-MacBook-Pro-2.local>
Wolfram Decker <decker@mathematik.uni-kl.de> <decker@wolframs-mbp-2.speedport.ip>
