Alexander Dinges <alexding97@gmail.com>
Alexej Jordan <jordan@math.tu-berlin.de> <58329349+alexej-jordan@users.noreply.github.com>
Antony Della Vecchia <antonydellavecchia@gmail.com>
Antony Della Vecchia <antonydellavecchia@gmail.com> <vecchia@blofield.math.tu-berlin.de>
Benjamin Lorenz <lorenz@math.tu-berlin.de> <benlorenz@users.noreply.github.com>
Benjamin Schroeter <schrot@kth.se>
Benjamin Schroeter <schrot@kth.se> <86479144+bschroter@users.noreply.github.com>
Cameron Braunstein <cbraunstein@brandeis.edu>
Carlo Sircana <sircana@mathematik.uni-kl.de>
Christian Eder <ederc@mathematik.uni-kl.de>
Claus Fieker <fieker@mathematik.uni-kl.de>
Claus Fieker <fieker@mathematik.uni-kl.de> <claus.fieker@gmail.com>
Claus Fieker <fieker@mathematik.uni-kl.de> <fieker@trump.fritz.box>
Daniel Schultz <tthsqe12@gmail.com>
Delphine Pol <pol@mathematik.uni-kl.de>
Delphine Pol <pol@mathematik.uni-kl.de> <72020973+delphinepol@users.noreply.github.com>
Giovanni De Franceschi <franceschi@mathematik.uni-kl.de> <52538321+GDeFranceschi@users.noreply.github.com>
Giovanni De Franceschi <franceschi@mathematik.uni-kl.de> <giovanni.defranceschi@auckland.ac.nz>
Lars Kastner <lars.kastner@yahoo.dk>
Lars Kastner <lars.kastner@yahoo.dk> <lars.kastner@posteo.de>
Lars Kastner <lars.kastner@yahoo.dk> <lkastner@users.noreply.github.com>
Marta Panizzut <panizzut@math.tu-berlin.de>
Marta Panizzut <panizzut@math.tu-berlin.de> <marta.pnzt@gmail.com>
Martin Bies <HereAround@users.noreply.github.com> <MBies87@googlemail.com>
Matthias Zach <zach@math.uni-hannover.de> <85350711+HechtiDerLachs@users.noreply.github.com>
Michael Joswig <joswig@math.tu-berlin.de> <micjoswig@users.noreply.github.com>
Oguzhan Yürük <yuruk@math.tu-berlin.de>
Oguzhan Yürük <yuruk@math.tu-berlin.de> <36934877+OguzhanYueruek@users.noreply.github.com>
Oguzhan Yürük <yuruk@math.tu-berlin.de> <oguyueru@tu-braunschweig.de>
Oguzhan Yürük <yuruk@math.tu-berlin.de> <oguzhanyuruk93@gmail.com>
Simon Brandhorst <sbrandhorst@web.de>
Simon Brandhorst <sbrandhorst@web.de> <51749255+simonbrandhorst@users.noreply.github.com>
Taylor Brysiewicz <taylorbrysiewicz@gmail.com> <tbrysiewicz@math.tamu.edu>
Thomas Breuer <sam@math.rwth-aachen.de>
Tommy Hofmann <thofma@gmail.com>
William Hart <goodwillhart@googlemail.com>
Wolfram Decker <decker@mathematik.uni-kl.de> <decker@eduroam-ipv4-4-0630.triple-a.uni-kl.de>
Wolfram Decker <decker@mathematik.uni-kl.de> <decker@eduroam-ipv4-4-0797.triple-a.uni-kl.de>
Wolfram Decker <decker@mathematik.uni-kl.de> <decker@eduroam-ipv4-0386.triple-a.uni-kl.de>
Wolfram Decker <decker@mathematik.uni-kl.de> <decker@eduroam-ipv4-1986.triple-a.uni-kl.de>
Wolfram Decker <decker@mathematik.uni-kl.de> <decker@mupfel.mathematik.uni-kl.de>
Wolfram Decker <decker@mathematik.uni-kl.de> <decker@Wolframs-MacBook-Pro-2.local>
Wolfram Decker <decker@mathematik.uni-kl.de> <decker@wolframs-mbp-2.speedport.ip>
Yue Ren <yue.ren.kl@gmail.com>
Taylor Brysiewicz <taylorbrysiewicz@gmail.com> <tbrysiewicz@math.tamu.edu>
