name = "Oscar"
uuid = "f1435218-dba5-11e9-1e4d-f1a5fab5fc13"
authors = ["The OSCAR Team <oscar@oscar-system.org>"]
version = "1.7.0-DEV"

[deps]
AbstractAlgebra = "c3fe647b-3220-5bb0-a1ea-a7954cac585d"
AlgebraicSolving = "66b61cbe-0446-4d5d-9090-1ff510639f9d"
CodecZlib = "944b1d66-785c-5afd-91f1-9de20f533193"
Compat = "34da2185-b29b-5c13-b0c7-acf172513d20"
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
GAP = "c863536a-3901-11e9-33e7-d5cd0df7b904"
Hecke = "3e1990a7-5d81-5526-99ce-9ba3ff248f21"
JSON = "682c06a0-de6a-54ab-a142-c8b1cf79cde6"
JSON3 = "0f8b85d8-7281-11e9-16c2-39a750bddbf1"
LazyArtifacts = "4af54fe1-eca0-43a8-85a7-787d91b784e3"
Markdown = "d6f4376e-aef5-505a-96c1-9c027394607a"
Mongoc = "4fe8b98c-fc19-5c23-8ec2-168ff83495f2"
Nemo = "2edaba10-b0f1-5616-af89-8c11ac63239a"
NetworkOptions = "ca575930-c2e3-43a9-ace4-1e988b2c1908"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Polymake = "d720cf60-89b5-51f5-aff5-213f193123e7"
ProgressMeter = "92933f4c-e287-5a05-a399-4b506db050ca"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RandomExtensions = "fb686558-2515-59ef-acaa-46db3789a887"
Serialization = "9e88b42a-f829-5b0c-bbe9-9e923198166b"
Singular = "bcd08a7b-43d2-5ff7-b6d4-c458787f915c"
TOPCOM_jll = "36f60fef-b880-50dc-9289-4aaecee93cc3"
TranscodingStreams = "3bb67fe8-82b1-5028-8e26-92a6c54297fa"
UUIDs = "cf7118a7-6976-5b1a-9a39-7adc72f591a4"
cohomCalg_jll = "5558cf25-a90e-53b0-b813-cadaa3ae7ade"
f4ncgb_jll = "160f184c-7e1a-5d95-af1f-70d62a450302"
lib4ti2_jll = "1493ae25-0f90-5c0e-a06c-8c5077d6d66f"

[compat]
AbstractAlgebra = "0.48.0"
AlgebraicSolving = "0.10.4"
CodecZlib = "0.7.8"
Compat = "4.13.0"
Distributed = "1.6"
GAP = "0.16.3"
Hecke = "0.39.12"
JSON = "1.0.1"
JSON3 = "1.13.2"
LazyArtifacts = "1.6"
Markdown = "1.6"
Mongoc = "0.9.2, 0.10"
Nemo = "0.54.0"
NetworkOptions = "1.2.0"
Pkg = "1.6"
Polymake = "0.13.6"
ProgressMeter = "1.10.2"
Random = "1.6"
RandomExtensions = "0.4.3"
Serialization = "1.6"
Singular = "0.28.7"
TOPCOM_jll = "0.17.8"
TranscodingStreams = "0.11.3"
UUIDs = "1.6"
cohomCalg_jll = "0.32.0"
f4ncgb_jll = "0.300.300"
julia = "1.10"
lib4ti2_jll = "1.6.10"
