name = "Oscar"
uuid = "f1435218-dba5-11e9-1e4d-f1a5fab5fc13"
authors = [
  "Claus Fieker <fieker@mathematik.uni-kl.de>",
  "Giovanni De Franceschi <franceschi@mathematik.uni-kl.de>",
  "Johannes Schmitt <schmitt@mathematik.uni-kl.de>",
  "Max Horn <horn@mathematik.uni-kl.de>",
  "William Hart <goodwillhart@googlemail.com>",
  ]
version = "0.4.0"

[deps]
AbstractAlgebra = "c3fe647b-3220-5bb0-a1ea-a7954cac585d"
GAP = "c863536a-3901-11e9-33e7-d5cd0df7b904"
Hecke = "3e1990a7-5d81-5526-99ce-9ba3ff248f21"
Markdown = "d6f4376e-aef5-505a-96c1-9c027394607a"
Nemo = "2edaba10-b0f1-5616-af89-8c11ac63239a"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Polymake = "d720cf60-89b5-51f5-aff5-213f193123e7"
Singular = "bcd08a7b-43d2-5ff7-b6d4-c458787f915c"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"

[compat]
AbstractAlgebra = "^0.9.1"
GAP = "0.4"
Hecke = "^0.8.0"
Nemo = "^0.17.2"
Polymake = "^0.4"
Singular = "^0.3"
julia = "1.3"
Requires = "1.0"
