blockquote {
  background: #f9f9f9;
  font-size: 0.8em;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.0em 0px;
  quotes: "\201C""\201D""\2018""\2019";
}

.md-typeset code {
font-size: 13.6px;
}

.md-typeset pre {
font-size: 0.8em;
}

.md-typeset h1 {
font-size: 1.7em;
font-weight: 400;
color: rgba(0,0,0,.87);
}

.md-typeset h2 {
  font-size: 1.4em;
  font-weight: 400;
  color: rgba(0,0,0,.87);
}

.md-typeset h3 {
  font-size: 1.2em;
  font-weight: 400;
  color: rgba(0,0,0,.87);
}

.md-typeset h4 {
  font-size: 1.0em;
  font-weight: 400;
  color: rgba(0,0,0,.87);
}

.md-typeset p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.md-typeset li {
  font-size: 16px;
  line-height: 1.4;
}

.md-typeset hr {
    font-size: .8rem;
    line-height: 1.1;
    margin: 1.1em 0;
    margin-top: 1.1em;
    margin-right: 0px;
    margin-bottom: 1.1em;
    margin-left: 0px;
    height: 3px;
    border-top: 2px solid #8c8b8b;
    border-bottom: 0px;
}
