name: Update Changelog

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Optional version string'
        required: false
        type: string
        default: ''
# only run at most one instances of this workflow at a time for each branch
# resp. tag. Starting a new one cancels previously running ones.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update-changelog:
    runs-on: ubuntu-22.04

    steps:
    # Checkout the repository
    - name: Checkout Repository
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    # Run the update script
    - name: Run python script
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        python3 dev/releases/release_notes.py ${{ github.event.inputs.version }}

    # Configure git for the PR
    - name: Set up git
      run: |
        git config user.name "changelog[bot]"
        git config user.email "changelog[bot]@users.noreply.github.com"
    
    # Commit the changes
    - name: Commit Changes
      run: |
        git add CHANGELOG.md
        git commit -m "Update changelog on $(date +'%Y-%m-%d')" || echo "Nothing to commit!"

    # Create a pull request
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v7
      with:
        commit-message: "Update Changelog on $(date +'%Y-%m-%d')"
        branch: update-changelog
        title: "Update changelog"
        base: master
