name: Run tests

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.julia-version == 'nightly' }}
    strategy:
      fail-fast: false
      matrix:
        julia-version:
          #- '1.3'  # FIXME: disabled for now, until CxxWrap is fixed
          - '1.4'
          - '1.5'
          - 'nightly'
        julia-arch:
          - x64
        os:
          - ubuntu-latest
          - macOS-latest
        exclude:
          # Reduce the number of macOS jobs, as fewer can be run in parallel
          - os: macos-latest
            julia-version: '1.3'
          - os: macos-latest
            julia-version: '1.4'

    steps:
      - uses: actions/checkout@v2
        with:
          # For Codecov, we must also fetch the parent of the HEAD commit to
          # be able to properly deal with PRs / merges
          fetch-depth: 2
      - name: "Set up Julia"
        uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
          arch: ${{ matrix.julia-arch }}
      - name: Cache artifacts
        uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - name: "Build package"
        uses: julia-actions/julia-buildpkg@latest
      - name: "Run tests"
        uses: julia-actions/julia-runtest@latest
      #- name: "Run doctests"
      #  if: ${{ matrix.julia-version == '1.5' }}
      #  run: |
      #    julia --project=docs --color=yes --code-coverage -e '
      #      using Pkg
      #      Pkg.develop(PackageSpec(path=pwd()))
      #      Pkg.instantiate()
      #      using Documenter: doctest
      #      using Oscar
      #      doctest(Oscar)'
      - name: "Process code coverage"
        uses: julia-actions/julia-processcoverage@v1
      - name: "Upload coverage data to Codecov"
        continue-on-error: true
        uses: codecov/codecov-action@v1
      - name: "Upload coverage data to Coveralls"
        continue-on-error: true
        uses: coverallsapp/github-action@master
        with:
          path-to-lcov: lcov.info
          github-token: ${{ secrets.github_token }}
          flag-name: ${{ matrix.name }}
          parallel: true

    # don't run ci twice on own PRs
    if: ${{ !(github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository) }}

  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: "Finish Coveralls coverage upload"
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
