name: Documentation

on:
  push:
    branches:
      - master
      - 'release-*'
    tags: '*'
    paths-ignore:
      - '*.md'
      - '.github/workflows/changelog.yml'
      - 'dev/releases/release_notes.py'
  pull_request:
    paths-ignore:
      - '*.md'
      - '.github/workflows/changelog.yml'
      - 'dev/releases/release_notes.py'
  workflow_dispatch:

concurrency:
  # group by workflow and ref
  group: ${{ github.workflow }}-${{ github.ref }}
  # Cancel intermediate builds, only the latest on a given branch or PR should complete
  cancel-in-progress: true

jobs:
  deploy_docs:
    #runs-on: self-hosted
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1.10'
      - uses: julia-actions/cache@v2
      - name: Build package
        uses: julia-actions/julia-buildpkg@v1
      - name: Install dependencies
        run: julia --project=. --color=yes -e 'using Oscar; Oscar.doc_init(; path="docs/")'
      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # For authentication with GitHub Actions token
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY_OUTOFTREE }} # For authentication with SSH deploy key
        run: julia --project=docs/ --color=yes docs/make.jl
